/* _content/LibraryApp/Views/Shared/_Layout.cshtml.rz.scp.css */
.navbar[b-b3vcjlfyeh] {

    min-height: 72px;

    transition: all .3s ease;

    z-index: 1030;

}

.navbar-brand[b-b3vcjlfyeh] {

    font-size: 1.6rem;

    font-weight: 700;

}

.navbar-nav .nav-link[b-b3vcjlfyeh] {

    color: #343a40 !important;

    font-weight: 600;

    padding: .75rem 1rem;

    transition: .25s;

}

.navbar .nav-link[b-b3vcjlfyeh] {
    color: #343a40 !important;
    transition: color .25s ease;
    margin: 0 6px;
}

.navbar .nav-link:hover[b-b3vcjlfyeh] {
    color: #0d6efd !important;
}

.navbar .nav-link.active[b-b3vcjlfyeh] {
    color: #0d6efd !important;
    font-weight: 600;
}
.navbar-nav .nav-link:hover[b-b3vcjlfyeh] {
    color: #0d6efd !important;
}
.navbar-nav .nav-link.active[b-b3vcjlfyeh] {
    color: #0d6efd !important;
    position: relative;
}

.navbar-nav .nav-link.active[b-b3vcjlfyeh]::after {
    content: "";
    position: absolute;
    left: 15%;
    bottom: 8px;
    width: 70%;
    height: 3px;
    border-radius: 10px;
    background: #0d6efd;
}
